 body {
  margin: 20px;
  align-items: center;
  background-image: url(../public/assets/bckgr.jpeg);
 }

 .header {
  background-image: url(../public/assets/banner.png);
  background-size: cover;
  height: 160px;
  flex-shrink: 0;
  padding-top: 70px;
  padding-bottom: 0;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
 }

 .header h1 {
  color: #242B54;
  font-family: Inter;
  font-size: 50px;
  font-weight: bolder;
  line-height: normal;
  text-align: center;
  margin-bottom: 0;
  margin-top: 6%;
 }

 .navbar {
  height: 70px;
  flex-shrink: 0;
  border-radius: 23px;
  background-color: #bfabab81;
  margin-top: 2%; 
 }

 .navbar .list {
  display: flex;
  flex-direction: row;
  list-style: none;
  overflow: hidden;
  margin-left: 30%;
 }

 .navbar .list .list-item {
  float: left;
  display: block;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
 }
 a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #186C9D;
  
 }

 .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
 }

 .stats .stats-items {
    font-size: 18px;
    color: red;
    font-family: monospace;
    font-weight: bolder;
 }